@model WMS.Models.EmailEntryForm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add Emails</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
           <div class="col-md-2">Email Address</div>
            <div class="col-md-10">
                 @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">CC Address</div>
            <div class="col-md-10">
                 @Html.TextBoxFor(model => model.CCAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CCAddress)
            </div>
        </div>

        <div class="form-group">
                <div class="col-md-2">Company</div>
            <div class="col-md-10">
                @Html.DropDownList("CompanyID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>
         <div class="form-group">
           <div class="col-md-2">Criteria</div>
            <div class="col-md-10">
                 @Html.DropDownList("Criteria", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Section", Value = "S", Selected=true},
                                        new SelectListItem { Text = "Department", Value = "D"}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
            </div>
        </div>
        <div id="CDept" class="form-group">
           <div class="col-md-2">Department</div>
            <div class="col-md-10">
                 <select class="btn btn-default dropdown-toggle dropdown ComboBoxWidth" id="DepartmentID" name="DepartmentID"></select>
                @*@Html.DropDownList("DepartmentID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.DepartmentID)*@
            </div>
        </div>

        <div id="CSec" class="form-group">
            <div class="col-md-2">Section</div>
            <div class="col-md-10">
                <select class="btn btn-default dropdown-toggle dropdown ComboBoxWidth" id="SectionID" name="SectionID"></select>
                @*@Html.DropDownList("SectionID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.SectionID)*@
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-2">Date</div>
            <div class="col-md-10">
               @Html.DropDownList("ReportCurrentDate", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Current Date", Value = "true"},
                                        new SelectListItem { Text = "Previous Date", Value = "False", Selected=true}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">Add Location</div>
            <div class="col-md-10">
               @Html.DropDownList("HasLoc", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Yes", Value = "true"},
                                        new SelectListItem { Text = "No", Value = "False", Selected=true}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
            </div>
        </div>

        <div id="CLoc"class="form-group">
           <div class="col-md-2">Location</div>
            <div class="col-md-10">
                @Html.DropDownList("LocationID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.LocationID)
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-2">Add Category</div>
            <div class="col-md-10">
                @Html.DropDownList("HasCat", new List<SelectListItem>
                                    { 
                                        new SelectListItem { Text = "Yes", Value = "true"},
                                        new SelectListItem { Text = "No", Value = "False", Selected=true}
                                    },new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"}) 
            </div>
        </div>

        <div id="CCat" class="form-group">
            <div class="col-md-2">Category</div>
            <div class="col-md-10">
                @Html.DropDownList("CatID",null,new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth"})
                @Html.ValidationMessageFor(model => model.CatID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">Email Time</div>
            <div class="col-md-10">
                 @Html.TextBoxFor(model => model.EmailTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmailTime)
                <span>e.g 13:20</span>
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="@Url.Content("~/Scripts/EmailForm/EmailForm.js")"></script>