@model IEnumerable<WMS.Models.EmailEntryForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
      <form class ="form-inline" role="form">
          <div class="form-group"> <h3>Email Reports</h3> </div>
          <div class="form-group CreateBtnMargin"><p>@Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-sm btn-success" })</p></div>
          <div class="form-group pull-right SearchBtnMargin">
              @using (Html.BeginForm("Index", "Email", FormMethod.Get))
                {<p>Find @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control"})  
                 <input class="btn btn-sm btn-success" type="submit" value="Search" /></p>}
          </div> 
      </form>  
    </div>


<table class="table table-bordered table-hover  table-condensed">
    <tr class="table-header">
        <th>
            Email
        </th>
        <th>
            Criteria Company/Location
        </th>
        <th>
            Criteria
        </th>
        <th>
            Date
        </th>
        <th>
            Category
        </th>
        <th>
            Location
        </th>
<th>Edit|Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @if(item.CriteriaComLoc=="C")
            {<p>Company</p>}
            else
            {<p>Location</p>}
        </td>
        <td>
            @if (item.CriteriaDepSec == "S")
            {<p>@item.Section.SectionName</p>}
           
            @if (item.CriteriaDepSec == "D")
            {<p>@item.Department.DeptName</p>}
            @if (item.CriteriaDepSec == "A")
            {<p>All</p>}
        </td>
        <td>
            @if(item.ReportCurrentDate==true)
            {<p>Today</p>}
            else
            {<p>Yesterday</p>}
        </td>
        <td>
            @if(item.HasCat==true)
            {<p>@item.Category.CatName</p>}
            else
            {<p>All</p>}
        </td>
        <td>
             @if (item.CriteriaComLoc == "L")
            {<p>@item.Location.LocName</p>}
            else
            {<p>@item.Location.LocName</p>}
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
           @* @Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
